<footer>
  <div class="footer-links">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col col-md-4 col-sm-12">
            <div class="btn-group">
              <div class="contact-block">
                <p></p>
                <p></p>
                <h5 data-toggle="dropdown" class="dropdown-toggle visible-xs">Контакты<i class="visible-xs ion-chevron-down"></i></h5>
                <p></p>
                <p></p>
                <div class="dropdown-menu">
                  <a class="logo-footer">
                    <img src="http://us4.kz/image/catalog/logo/19-04-23_208178_7.15.37_208159208159-2.svg" style="width: 227px;">
                  </a>
                  <p class="des">Aliado.kz - скидочный сервис по товаром из США с доставкой в Казахстан</p>
                  <ul>
                    <li class="address"><em>Адрес:</em> Алматы, Казахстан</li>
                    <li class="phone"><em>Телефон:</em> +7(708) 866 39-47</li>
                    <li class="email"><em>E-mail:</em> info@us4.kz</li>
                  </ul>
                </div>
              </div>


            </div>
          </div>
          <div class="col col-md-2 col-sm-6">
            <div class="btn-group">
              <h5 data-toggle="dropdown" class="dropdown-toggle">Информация<i class="visible-xs ion-chevron-down"></i></h5>
              <div class="dropdown-menu">
                <ul class="list-unstyled">
                  <li><a href="http://us4.kz/index.php?route=information/information&amp;information_id=8">Страница в разработке </a></li>
                  <li><a href="http://us4.kz/o-nac.html">О нас</a></li>
                  <li><a href="http://us4.kz/doctavka.html">Доставка</a></li>
                  <li><a href="http://us4.kz/politika-privatnocti.html">Политика приватности</a></li>
                  <li><a href="http://us4.kz/polozheniya-i-ucloviya.html">Положения и условия</a></li>
                  <li><a href="http://us4.kz/index.php?route=information/contact">Обратная связь</a></li>
                  <li><a href="http://us4.kz/index.php?route=information/sitemap">Карта сайта</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col col-md-2 col-sm-6">
            <div class="btn-group">
              <h5 data-toggle="dropdown" class="dropdown-toggle">Дополнительно<i class="visible-xs ion-chevron-down"></i></h5>
              <div class="dropdown-menu">
                <ul class="list-unstyled">
                  <li><a href="http://us4.kz/index.php?route=product/manufacturer">Производители</a></li>
                  <li><a href="http://us4.kz/index.php?route=account/voucher">Подарочные сертификаты</a></li>
                  <li><a href="http://us4.kz/index.php?route=affiliate/login">Партнерская программа</a></li>
                  <li><a href="http://us4.kz/index.php?route=product/special">Акции</a></li>
                  <li><a href="http://us4.kz/index.php?route=account/return/add">Возврат товара</a></li>
                  <li><a href="http://us4.kz/index.php?route=account/order">История заказов</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--div class="col col-md-2 col-sm-6">
<div class="btn-group">
  <h5 data-toggle="dropdown" class="dropdown-toggle">Личный Кабинет<i class="visible-xs ion-chevron-down"></i></h5>
  <div class="dropdown-menu">
      <ul class="list-unstyled">
        <li><a href="http://us4.kz/index.php?route=account/account">Личный Кабинет</a></li>
        <li><a href="http://us4.kz/index.php?route=account/order">История заказов</a></li>
        <li><a href="http://us4.kz/index.php?route=account/wishlist">Закладки</a></li>
        <li><a href="http://us4.kz/index.php?route=account/newsletter">Рассылка</a></li>
      </ul>
  </div>
</div>
</div-->

          <div class="col col-md-4 col-sm-6">
            <div class="btn-group">
              <h5 data-toggle="dropdown" class="dropdown-toggle">Newsletter and social<i class="visible-xs ion-chevron-down"></i></h5>
              <div class="dropdown-menu">
                <div class="newsletter-container newsletter-block">

                  <div class="newsletter-heading">
                    <!--h3>Подписывайтесь на рассылку</h3-->
                    <p>Чтобы не упустить наши новости, подписывайтесь на рассылку новостей.</p>
                  </div>
                  <div class="newsletter-content">

                    <div class="content">
                      <input type="text" class="newsletter_email" name="mail_subscribe" value="" placeholder="Пожалуйста введите e-mail">
                      <button type="button" class="btn btn-primary" onclick="ptnewsletter.saveMail($(this));">Подписаться</button>
                    </div>
                  </div>
                  <div class="newsletter-notification"></div>
                </div>
<!--                <script>-->
<!--                  ptnewsletter.checkCookie();-->
<!--                </script>-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="inner">
        <p class="text-powered">Разработка студии <a href="http://aliado.kz">ALIADO</a><br> US4.KZ © 2019</p>

      </div>
    </div>
  </div>
</footer>
