/* You can add global styles to this file, and also import other style files */
*{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;

}
body{
  background-image: url("/assets/07-gisele-bundchen-vogue-cover-july-2018.jpg");
}
